
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";

}

input, textarea, button {
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}
.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.tabs li {
    padding: 0px 15px;
    display: inline-block;
}
header .table {
    display: table;

}
header .left {
    padding-right: 20px;
}
header .left, header .logo, header .right{
    display: table-cell;
    width: 33%;
    vertical-align: top;
}

header .logo {
    text-align: center;
}

header .right {
    text-align: right;
}
header .login {
    font-size: 13px;
    line-height: 19px;
    color: #0069b4;
}

header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

header .menu li {
    display: inline-block;
    margin-right: 18px;
}
header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .phone:hover {
    color: red;
}
header .callback {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header .callback:hover {
    border-bottom: 1px dashed transparent;
}

header p.timing {
    font-size: 13px;
    line-height: 19px;
    color: #1a9547;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

a.basket:hover {
    color: #1a9547;
}
header .basket span {
    color: #1a9547;
}

header [class*="icon"] {
    color: #cbebd5;
}

header .login [class*="icon"] {
    font-size: 19px;
}

header .phone [class*="icon"] {
    font-size: 20px;
}


.banner .sale {
    width: 305px;
    height: 360px;
}

.banner .slider {
    width: 640px;
    height: 360px;
}

.banner>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    display: flex;
    justify-content: space-between;
}
.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
}

.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}
.advantages {
     width: calc(100% - 320px);
     float: left;
}

.advantages .item {
    width: 25%;
    float: left;
}
.subscribe {
    background-color: #64ba4a;
    width: 320px;
    float: left;
    padding: 20px;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    width: 100%;
    border: none;
    padding-left: 10px;
}
.subscribe input::placeholder {
    font-size: 13px;
    color: #999999;
}
.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    width: 190px;
    background-color: #259c47;
    border: none;
    display: table-cell;
    vertical-align: middle;
}

.subscribe .wrap span {
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    line-height: 1;
}

.subscribe .wrap {
    display: table;
    width: 100%;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;

}

.filter li:hover {
    border-bottom: 1px dashed transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.filter li+li {
    margin-left: 20px;
}
.filter li a {
    text-decoration: none;
    color: #666666;
}
.filter{
    position: relative;
}
.filter .view{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.card {
    position: relative;
}

.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.status.new {
    background-color: #78ec71;
}

.card {
    border-bottom: 1px solid #e4e4e4;
}
.card .img {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.card .title {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card .content {
    min-height: 110px;
    position: relative;
}

.card .content .buy {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    display: inline-block;
    vertical-align: top;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    text-decoration: line-through;
    color: #666666;
    display: inline-block;
    vertical-align: top;
}
.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7200;
    border: none;
    width: 100px;
    display: block;
    float: right;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.widgets .wrap {
    display: flex;
    justify-content: space-between;
}
.widgets h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.socialItem:first-child,
.socialItem:last-child {
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2) {
    width: 350px;
    height: 400px;
}

.socialItem {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .content {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title {
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    display: block;
}

.info .title::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
}
footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a.socLink {
    font-size: 21px;
}

footer .footMenu {
    width: 50%;
    float: left;
}

footer .contacts {
    width: 25%;
    float: left;
}
footer .copyright {
    width: 25%;
    float: left;
    text-align: right;
}

.footMenu ul {
    width: 50%;
    float: left;
}

.breadcrumbs {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    margin-bottom: 25px;
}

.content h1 {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    margin: 0 0 50px;
}

.content h2 {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.content span {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.foto {
    height: 210px;
    width: 980px;
    background-color: #b3b3b3;
    margin: 20px 0 20px;
}

.content p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
.content a {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

/*----------------страница оформления заказа---------------*/

.orderList li {
    padding-left: 40px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.radioBtn {
    display: none;
}

.radioBtn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioBtn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radioBtn:checked + label::before {
    border-color: #51bf87;
}

radioBtn:checked + label::after {
    opacity: 1;
}

.radioBtn + label {
    cursor: pointer;
}

/*----------------------------адаптив----------------------------------*/
header.mobile {
    display: none;
    position: relative;
    padding: 18px 0;
    background-color: #63ba49;
}

.filterMobile {
    display: none;
    position: relative;
    border-color: #bebebe;
    padding: 20px;
}

.filterMobile .view{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px 0;
}

header.mobile .menuMobile{
    width: 45px;
    height: 5px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.menuMobile:before{
    content: '';
    display: block;
    width: 45px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: -12px;
    left: 0;
}
.menuMobile:after{
    content: '';
    display: block;
    width: 45px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 0;
}

.logoMobile{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 125px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}
.basketMobile {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;

}

.mobileSub{
    display: none;
    margin-bottom: 50px;
    padding: 0 5px;
    text-align: center;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }
    .banner .sale{
        height: 350px;
        width: 295px;
    }
    .banner .slider {
        height: 350px;
        width: 620px;
    }
    .subscribe {
        width: 300px;
    }
    .advantages {
        width: calc(100% - 300px);
    }
    .widgets {
        display: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        flex: 0 0 220px;

    }
}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    header.mobile {
        display: block;
    }

    .banner .sale,
    .banner .slider,
    .subscribe,
    .advantages,
    .widgets,
    header .table,
    .filter,
    .tabs,
    .accordion{
        display: none;
    }
.filterMobile{
    display: block;
}

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 1 0 270px;
    }
    .mobileSub{
        display: block;
    }

}